<div class="panel panel-default">
  <div class="checkout-title"> Coupon </div>
  <div class="panel-body">
    <div class="form-group">
      <%= text_field_tag :coupon, '', :class => 'form-control', :placeholder => 'Coupon Code Here' %>
    </div>
    <%= link_to 'Apply', '#', :class => 'btn btn-primary' %>
  </div>
</div>