<div class="checkout-information">
  <div class="panel panel-default">
    <div class="checkout-title"> Confirm Order </div>
    <div class="panel-body">
      <%= f.submit 'Place Order', :class => "btn btn-default" %>
      <%= link_to 'Cancel Order', empty_cart_shopping_cart_path(current_cart), :class => 'btn btn-danger', :data => {:confirm => 'Are you sure?'} %>
    </div>
  </div>
</div>