<div class="j-menu-container"></div>

<div class="top-header-bg">
  <div class="container public_bg_image">
    <div class="b-inner-page-header f-inner-page-header">
      <div class="b-inner-page-header__content">
        <h1 class="f-primary-l c-default"><%= t(:about_us) %></h1>
        <div class="f-primary-l f-inner-page-header_title-add c-senary"><%= t(:more_about_us) %>
        </div>
      </div>
    </div>
    <hr class="hr-line">
  </div>
</div>
<div class="comtact-content">
  <div class="container public_bg_image">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1><%= t(:about_us) %></h1>
        </div>
      </div>
    </div>
  </div>
</div>