<div class="top-header-bg">
  <div class="container public_bg_image">
    <div class="b-inner-page-header f-inner-page-header">
      <div class="b-inner-page-header__content">
        <h1 class="f-primary-l c-default">
          <b> How It Works </b>
        </h1>

        <div class="f-primary-l f-inner-page-header_title-add c-senary">Local destinations for a global community</div>
      </div>
    </div>
  </div>
</div>
<div class="how-it-works container">
  <div class="row reset-margin">
    <section class="how-it-works js-how-it-works">

      <div class="page-container-responsive panel-contrast text-contrast">

        <div class="text-center">

          <div class="how-it-works__step how-it-works__step-one col-md-4">
            <div class="panel-body">
              <div class="how-it-works__step-1-image"></div>
              <h1>
                Register & Join the community
              </h1>
              <%= render "login_form" %>
            </div>
          </div>

          <div class="how-it-works__step how-it-works__step-two col-md-4">
            <div class="panel-body">
              <div class="how-it-works__step-2-image"></div>
              <h1>
                Sale
              </h1>

              <p class="reset-p">
                Refer a lead who is willing to buy from our range of product
              </p>
            </div>
          </div>

          <div class="how-it-works__step how-it-works__step-three col-md-4">
            <div class="panel-body">
              <div class="how-it-works__step-3-image"></div>
              <h1>
                Get Paid
              </h1>

              <p class="reset-p">
                It's as simple as that ....refferred lead buys a product and you get paid
              </p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>

</div>



