<div class="how-it-works">
  <div class="container">
    <div class="row space-top-8">
      <div class="col-md-8 col-center">
        <h1 class="text-center text-contrast">Local destinations for a global community</h1>
      </div>
    </div>
  </div>
  <div class="row reset-margin">
    <section class="how-it-works js-how-it-works">

      <div class="page-container-responsive panel-contrast text-contrast">

        <div class="text-center">

          <div class="how-it-works__step how-it-works__step-one col-md-4">
            <div class="panel-body">
              <div class="how-it-works__step-1-image"></div>
              <h1>
                Register & Join the community
              </h1>
              <%= render "login_form" %>
              <!--<p>
                Find hosts with extra rooms, entire homes, and unique accommodations like castles and igloos.
              </p>-->

            </div>
          </div>

          <div class="how-it-works__step how-it-works__step-two col-md-4">
            <div class="panel-body">
              <div class="how-it-works__step-2-image"></div>
              <h1>
                Sell
              </h1>

              <p class="reset-p">
                Refer a lead who is willing to buy from our range of product
              </p>
            </div>
          </div>

          <div class="how-it-works__step how-it-works__step-three col-md-4">
            <div class="panel-body">
              <div class="how-it-works__step-3-image"></div>
              <h1>
                Get Paid
              </h1>

              <p class="reset-p">
                It's as simple as that ....refferred lead buys a product and you get paid
              </p>
            </div>
          </div>

        </div>

        <!--<div class="row space-top-4 space-4 text-center">
          &lt;!&ndash;<p><a href="/help/getting-started/how-to-host">Learn more</a> about hosting on Airbnb and show your guests they’re
            right where they belong.
          </p>&ndash;&gt;
        </div>-->

      </div>
    </section>

  </div>

</div>



