<li id="product_unit_input" class="select input optional"><label class="label" for="product_unit">Unit</label><select id="product_unit" name="product[unit]"><option value=""></option>
  <option value="day">Day</option>
  <option value="hour">Hour</option></select>

</li>