
#gh-gb {
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 5px #bbb;
    height: 30px;
    outline: 0 none;
    position: absolute;
    width: 100%;
}

.bg-box{
    width: 75%;
    margin: 0 auto;
}

.text-title {
    color: #555555;
    font-size: 16px;
    font-weight: 200;
    line-height: 0.5;
}

.menu-1{}

.menu-1 ul {
    float: left;
    list-style: none;
    margin: -5px;
}

.menu-1 ul > li{
    display: inline;
}

.menu-1 ul > li > a {
    color: #333333;
    float: left;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.menu-2 {
    margin-top: 40px;
}

.menu-2 ul{
    list-style: none;
}
.menu-2 ul > li{
    float: left;
    padding-right: 10px;
}
.menu-2 ul > li > a{
    text-decoration: none;
}

#gh-ac-box2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: #ddd #ddd #ddd #efefef;
    border-image: none;
    border-radius: 0 3px 3px 0;
    border-style: solid;
    border-width: 1px;
    height: 38px;
    padding: 0 10px;
}

#gh-ac {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    color: #767676;
    font-size: 16px;
    margin: 0;
    outline: 0 none;
    padding: 10px 0 9px 8px;
    width: 100%;
}

#gh-cat-box {
    border-color: #ddd #ddd #ddd #efefef;
    border-style: solid;
    border-width: 1px;
    height: 38px;
    padding: 0 10px;
}

#gh-cat {
    background-color: transparent;
    background-position: 0 99px;
    border-width: 0;
    color: #333;
    font: 12px Arial;
    height: 18px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}

#gh-cat option {
    height: 20px;
}

#gh-btn {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #0079bc, #00509d) repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    padding: 0.5em 1.2em;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif !important;
}

.hr-line {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 980px;
}

.divider-line {
    background: #ddd none repeat scroll 0 0;
    display: inline-block;
    height: 24px;
    margin-right: 30px;
    width: 1px;
}

.menu-3{
    margin-bottom: 30px;
}
.menu-3 ul {
    list-style: none;
}

.menu-3 ul > li{
    float: left;
}

.menu-3 ul > li > a {
    color: #555555;
    font-size: 13px;
    padding-right: 30px;
}

.menu-3 ul > li > a :hover{}

.left-content{
    border: 1px solid #F7F7F7;
    float: left;
    margin-left: 15px;
    margin-right: 5px;
}

.right-content{
    width: 315px;
    height: 286px;
    float: left;
    margin-left: 5px;

}

.right-content-first {
  height: 180px;
  background-color: #E9E9E9;
  border: 1px solid #F7F7F7;
  margin-bottom: 19px;
}


.right-content-second {
  height: 90px;
  background-color: #E9E9E9;
  border: 1px solid #F7F7F7;
}