$display-show-hide: none;
#gh-gb {
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 5px #bbb;
  height: 30px;
  outline: 0 none;
  position: absolute;
  width: 100%;
  background: #ffffff;
}

.bg-box {
  width: 75%;
  margin: 0 auto;
}

.text-title {
  color: #555555;
  font-size: 16px;
  font-weight: 200;
  line-height: 0.5;
}

.menu-1 {
  .change-language {
    select {
      background: none;
      border: none;
      padding: 0;
      margin-top: 5px;
    }
  }
  ul {
    &.dropdown-menu {
      li {
        display: block;
        a {
          display: block;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

.menu-1 ul {
  float: left;
  list-style: none;
  margin: -5px;
  padding: 0;
}

.menu-1 ul > li {
  display: inline-block;
  vertical-align: top;
}

.menu-1 ul > li > a {
  color: #333333;
  float: left;
  font-size: 13px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.menu-1 ul > li > a:hover {
  text-decoration: underline;
  color: #0654ba;
}

.menu-2 {
  margin-top: 40px;
  .search-logo {
    height: 70px;
  }
}

.menu-2 ul {
  list-style: none;
  padding: 0;
}

.menu-2 ul > li {
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.menu-2 ul > li > a {
  text-decoration: none;
}

#gh-ac-box2 {
  background: #fff none repeat scroll 0 0;
  border-color: #ddd #ddd #ddd #efefef;
  border-image: none;
  border-radius: 0 3px 3px 0;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  padding: 0 10px;
}

.search-wrapper {
  width: calc(100% - 432px);
}

.menu-2 {
  ul {
    li:last-child {
      text-align: right;
      padding-right: 0;
    }
  }
}

#gh-ac {
  box-shadow: none;
  color: #767676;
  font-size: 16px;
  margin: 0;
  outline: 0 none;
  padding: 10px 0 9px 8px;
  width: 100%;
  background: #fff none repeat scroll 0 0;
  border-color: #ddd #ddd #ddd #efefef;
  border-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  height: 38px;
}

#gh-cat-box {
  border-color: #ddd #ddd #ddd #efefef;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  padding: 0 10px;
}

#gh-cat {
  background-color: transparent;
  background-position: 0 99px;
  border-width: 0;
  color: #333;
  font: 12px Arial;
  height: 18px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

#gh-btn {
  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #0079bc, #00509d) repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  padding: 0.5em 1.2em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
}

.hr-line {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.divider-line {
  background: #ddd none repeat scroll 0 0;
  display: inline-block;
  height: 24px;
  margin-right: 30px;
  width: 1px;
}

/************ Dropdown(Menu-3) Design **************/

/* The container <div> - needed to position the dropdown content */
.custom-dropdown {
  //position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.custom-dropdown-content {
  background-color: #fff;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  .custom-dropdown-content-leftsidebar {
    float: left;
    height: auto;
    width: 47%;
    .custom-dropdown-content-leftsidebar-container {
      padding: 25px 0 25px 25px;
      .hover-submenu-wrap {
        .hover-submenu-1, .hover-submenu-2 {
          width: 172px;
          float: left;
          ul {
            li:first-child {
              //margin-top: 0;
              //width: 100%;
              b {
                border-bottom: 1px solid #dadada;
                padding-bottom: 10px;
                color: #555;
                font-size: 12px;
              }
            }
            li {
              height: 25px;
              line-height: 25px;
              margin-top: 10px;
              width: 100%;
              text-align: left;
              font-size: 10px;
            }
            li a:hover {
              text-decoration: underline;
              color: #0654ba;
            }
          }
        }
      }
    }
  }

  .custom-dropdown-content-rightsidebar {
    &.nav-product-category-image {
      background: url("custom-sub-menu.jpg");
    }
    &.nav-service-category-image {
      background: url("service.jpg");
    }
    &.nav-ticket-category-image {
      background: url("tour_travel.jpg");
    }
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    height: 280px;
    margin: 10px;
    width: 50%;
  }
}

.custom-dropdown-content li {
  float: left;
  width: 100%;
}

/* Links inside the dropdown */
.custom-dropdown-content a {
  color: black;
  padding: 12px 16px;
  padding-left: 0;
  text-decoration: none;
  display: block;
}

.top-categories-icon-style {
  display: inline-block;
  padding-right: 10px;
  font-size: 25px;
  color: #3593AE;
}

.custom-show {
  //z-index: 1000;
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  box-shadow: 3px 0 1px rgba(0, 0, 0, 0.04);
  //display: none;
}

/**************************/
#site-menu-last {
  position: relative;
}

.menu-3 {
  border-bottom: 1px solid #ddd;
  border-color: #ddd;
  border-top: 1px solid #ddd;
  height: 35px;
  line-height: 35px;
  margin: 10px 0 30px;
  //overflow: hidden;
  //position: relative;
}

.menu-3 ul {
  li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
}

.left-content {
  border: 1px solid #F7F7F7;
  float: left;
  margin-left: 15px;
  margin-right: 5px;
}

.right-content {
  width: 315px;
  height: 286px;
  float: left;
  margin-left: 5px;

}

.right-content-first {
  height: 163px;
  background-color: #E9E9E9;
  border: 1px solid #F7F7F7;
  margin-bottom: 19px;
}

.right-content-second {
  height: 90px;
  //background-color: #E9E9E9;
  border: 1px solid #F7F7F7;
  a {
    img {
      width: 100%;
      height: 100%;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

// Design My Cart

.b-option-cart__items {
  display: none;
  position: absolute;
  right: 100px;
}

.my-cart {
  position: relative;
  &:hover {
    .b-option-cart__items {
      display: block;
    }
  }
}

.how-it-work-wrapper {
  text-align: center;
  margin-top: 10px;
  .how-it-work-link {
    font-size: 20px;
    text-shadow: 1px 1px 1px #999;
    img {
      height: 60px;
      padding: 2px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #c93247;
    }
  }
}

.how-it-works {
  background: #79cccd;
  display: block;
  .col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .space-top-8 {
    margin-top: 50px;
  }
  h1.text-contrast {
    font-size: 44px;
  }
  .text-contrast {
    color: #fff;
    margin-top: 0;
  }
}

.how-it-works__step-1-image {
  //background: rgba(0, 0, 0, 0) url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") no-repeat scroll center 0 / cover;
  background: rgba(0, 0, 0, 0) image-url('community.png') no-repeat scroll center 0 / cover;
  background-size: 100% 100%;
  height: 230px;
  margin: 0 auto;
  max-width: 283px;
}

.how-it-works__step-2-image {
  //background: rgba(0, 0, 0, 0) url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") no-repeat scroll center 0 / cover;
  background: rgba(0, 0, 0, 0) image-url('sell.png') no-repeat scroll center 0 / cover;
  background-size: 100% 100%;
  height: 230px;
  margin: 0 auto;
  max-width: 283px;
}

.how-it-works__step-3-image {
  //background: rgba(0, 0, 0, 0) url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") no-repeat scroll center 0 / cover;
  background: rgba(0, 0, 0, 0) image-url('get_paid') no-repeat scroll center 0 / cover;
  background-size: 100% 100%;
  height: 230px;
  margin: 0 auto;
  max-width: 283px;
}

.space-top-4 {
  padding-top: 25px;
}

.space-4 {
  padding-bottom: 25px;
}

.how-it-works__step-three {
  padding-right: 0 !important;
  .panel-body {
    padding-right: 0 !important;
  }
}

.slider-product {
  img {
    width: 200px;
    max-height: 300px;
  }
}

.reset-p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 120%;
}
