
#gh-gb {
  border-bottom: 1px solid #ccc;
  box-shadow: 1px 1px 5px #bbb;
  height: 30px;
  outline: 0 none;
  position: absolute;
  width: 100%;
  background: #ffffff;
}

.bg-box {
  width: 75%;
  margin: 0 auto;
}

.text-title {
  color: #555555;
  font-size: 16px;
  font-weight: 200;
  line-height: 0.5;
}

.menu-1 {
  .change-language {
    select {
      background: none;
      border: none;
      padding: 0;
      margin-top: 5px;
    }
  }
  ul {
    &.dropdown-menu {
      li {
        display: block;
        a {
          display: block;
          width: 100%;
          text-align: left;
        }
      }
    }
  }
}

.menu-1 ul {
  float: left;
  list-style: none;
  margin: -5px;
  padding: 0;
}

.menu-1 ul > li {
  display: inline-block;
  vertical-align: top;
}

.menu-1 ul > li > a {
  color: #333333;
  float: left;
  font-size: 13px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.menu-2 {
  margin-top: 40px;
  .search-logo {
    height: 70px;
  }
}

.menu-2 ul {
  list-style: none;
  padding: 0;
}

.menu-2 ul > li {
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.menu-2 ul > li > a {
  text-decoration: none;
}

#gh-ac-box2 {
  background: #fff none repeat scroll 0 0;
  border-color: #ddd #ddd #ddd #efefef;
  border-image: none;
  border-radius: 0 3px 3px 0;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  padding: 0 10px;
}

.search-wrapper {
  width: calc(100% - 432px);
}

.menu-2 {
  ul {
    li:last-child {
      text-align: right;
      padding-right: 0;
    }
  }
}

#gh-ac {
  box-shadow: none;
  color: #767676;
  font-size: 16px;
  margin: 0;
  outline: 0 none;
  padding: 10px 0 9px 8px;
  width: 100%;
  background: #fff none repeat scroll 0 0;
  border-color: #ddd #ddd #ddd #efefef;
  border-image: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  height: 38px;
}

#gh-cat-box {
  border-color: #ddd #ddd #ddd #efefef;
  border-style: solid;
  border-width: 1px;
  height: 38px;
  padding: 0 10px;
}

#gh-cat {
  background-color: transparent;
  background-position: 0 99px;
  border-width: 0;
  color: #333;
  font: 12px Arial;
  height: 18px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

#gh-btn {
  background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #0079bc, #00509d) repeat scroll 0 0;
  border: 0 none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  padding: 0.5em 1.2em;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif !important;
}

.hr-line {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.divider-line {
  background: #ddd none repeat scroll 0 0;
  display: inline-block;
  height: 24px;
  margin-right: 30px;
  width: 1px;
}

.menu-3 {
  margin-bottom: 10px;
}

.menu-3 ul {
  list-style: none;
  padding-left: 5px;
  margin: 0;
}

.menu-3 ul > li {
  float: left;
}

.menu-3 ul > li > a {
  color: #555555;
  font-size: 13px;
  padding-right: 30px;
}

.menu-3 ul > li > a :hover {
  color: #CCCCCC;
}

.left-content {
  border: 1px solid #F7F7F7;
  float: left;
  margin-left: 15px;
  margin-right: 5px;
}

.right-content {
  width: 315px;
  height: 286px;
  float: left;
  margin-left: 5px;

}

.right-content-first {
  height: 163px;
  background-color: #E9E9E9;
  border: 1px solid #F7F7F7;
  margin-bottom: 19px;
}

.right-content-second {
  height: 90px;
  background-color: #E9E9E9;
  border: 1px solid #F7F7F7;
}

// Design My Cart

.b-option-cart__items {
  display: none;
  position: absolute;
  right: 100px;
}

.my-cart {
  position: relative;
  &:hover {
    .b-option-cart__items {
      display: block;
    }
  }
}

.how-it-work-wrapper {
  padding: 3px 10px;
  margin-top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  .how-it-work-link {
    font-size: 20px;
    text-shadow: 1px 1px 1px #999;
    img {
      height: 42px;
    }
  }
}

.how-it-works {
  background: #79cccd;
  display: block;
  .col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .space-top-8 {
    margin-top: 50px;
  }
  h1.text-contrast {
    font-size: 44px;
  }
  .text-contrast {
    color: #fff;
    margin-top: 0;
  }
}

.how-it-works__step-1-image {
  //background: rgba(0, 0, 0, 0) url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") no-repeat scroll center 0 / cover;
  background: rgba(0, 0, 0, 0) image-url('community.png') no-repeat scroll center 0 / cover;
  background-size: 100% 100%;
  height: 230px;
  margin: 0 auto;
  max-width: 283px;
}

.how-it-works__step-2-image {
  //background: rgba(0, 0, 0, 0) url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") no-repeat scroll center 0 / cover;
  background: rgba(0, 0, 0, 0) image-url('sell.png') no-repeat scroll center 0 / cover;
  background-size: 100% 100%;
  height: 230px;
  margin: 0 auto;
  max-width: 283px;
}

.how-it-works__step-3-image {
  //background: rgba(0, 0, 0, 0) url("https://a0.muscache.com/airbnb/static/landing_pages/pretzel/how_it_works-6f1c02e84d49e801d12a5ff57565098a.png") no-repeat scroll center 0 / cover;
  background: rgba(0, 0, 0, 0) image-url('get_paid') no-repeat scroll center 0 / cover;
  background-size: 100% 100%;
  height: 230px;
  margin: 0 auto;
  max-width: 283px;
}

.space-top-4 {
  padding-top: 25px;
}

.space-4 {
  padding-bottom: 25px;
}

.how-it-works__step-three {
  padding-right: 0 !important;
  .panel-body {
    padding-right: 0 !important;
  }
}

.slider-product {
  img {
    width: 200px;
    max-height: 300px;
  }
}

.reset-p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 120%;
}
