.clear {
  clear: both;
}

.bold-text {
  font-weight: bold;
}

.favorite {
  background-color: #e9682e;
  color: floralwhite;
}

.reset-padding {
  padding: 0 !important;
}

.available_price {
  color: #fe980f;
  font-size: 18px;
}

.top-nav {
  padding-top: 2px;
}

.gallery-item {
  border: solid 2px #fdfdfd;
  padding: 2px;
  display: inline-block;
  margin-bottom: 5px;
  img {
    width: 50px;
    height: 50px;
  }
}

.product-off {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #e26228;
  font-size: 21px;
  font-weight: bold;
  left: 14px;
  position: absolute;
  top: 28px;
}

.reset-password-info {
  color: #b00100;
  font-size: 13px;
}

.field-set {
  border: none !important;
}

form {
  .input_field {
    display: none;
  }
}

.centered {
  text-align: center;
}

.top-header-bg {
  background: image-url('header_bg.jpg');
  background-attachment: fixed;
}

.public_bg_image {
  background: image-url('body.png');
  background-attachment: fixed;
}

.container_bg {
  background: image-url('container_bg.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}

.adjust-breadcrumbs-position {
  margin-top: -22px;
}

.fix-body-padding-bottom {
  padding-bottom: 20px;
}