.clear {
    clear: both;
}

.bold-text {
    font-weight: bold;
}

.favorite {
    background-color: #e9682e;
    color: floralwhite;
}

.reset-padding {
    padding: 0 !important;
}

.available_price {
    color: #fe980f;
    font-size: 18px;
}