.product-off {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #e26228;
    font-weight: bold;
    position: absolute;
    font-size: 18px !important;
    left: 18px;
    top: 30px;
}