<div class="j-menu-container"></div>
<div class="l-main-container">
  <section class="b-infoblock">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ">
          <div class="row">
            <div class="b-col-default-indent product_items">
              <% @products.each do |product| %>
                <%= render 'item', product: product %>
              <% end %>
            </div>
          </div>
        </div>
        <%= render 'shared/filter',product_type: 'product' %>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript">
    $(function() {
        $(window).scroll(function() {
            if($(window).scrollTop() == $(document).height() - $(window).height()) {
                $.ajax({
                    url: "<%= more_products_path(params: params) %>",
                    type: 'get',
                    dataType: 'script',
                    data: {offset: $('.product_items .single_item').length},
                    error: function() {
                        alert("Something wrong");
                    }
                });
            }
        });
    })
</script>
