var element = $('.cart-item-count');
if(element.length > 0) {
    element.text(<%= @cart.total_cart_item %>);
    $('.b-option-cart__items ul').html("<%= escape_javascript (render 'shared/line_items' )%>")
}
else {
    $('.b-header-ico-cart-parent a').append("<span class='cart-item-count'> <%= @cart.total_cart_item %> </span>");
   $('.b-option-cart__items ul').html("<%= escape_javascript (render 'shared/line_items' )%>")
}
